/**
 * CSS for Delicious Paragraphs.
 */

/**
 * Images.
 */

.dp-image {
  margin-bottom: 20px;
}

.dp-image img {
  display: block;
}

.dp-image figcaption {
  background: #eee;
  font-size: 12px;
  padding: 3px 5px;
  text-align: center;
}

.dp-image--small figcaption {
  max-width: 150px;
}

.dp-image--medium figcaption {
  max-width: 400px;
}

.dp-image--large figcaption {
  max-width: 800px;
}

.dp-image--center {
  min-width: 100%;
}

.dp-image--center img,
.dp-image--center figcaption {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 600px) {
  
  .dp-image--left.dp-image--small {
    float: left;
    margin-right: 20px;
  }
  
  .dp-image--right.dp-image--small {
    float: right;
    margin-left: 20px;
  }
}

@media (min-width: 992px) {
  
  .dp-image--left.dp-image--medium {
    float: left;
    margin-right: 20px;
  }
  
  .dp-image--right.dp-image--medium {
    float: right;
    margin-left: 20px;
  }
}

/**
 * Video.
 */

.dp-video {
  clear: both;
  margin-bottom: 20px;
}

/**
 * Inline gallery.
 */

.dp-inline-gallery {
  margin: 20px -10px;
}

.dp-inline-gallery img {
  margin-left: auto;
  margin-right: auto;
}

.dp-inline-gallery__image {
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.dp-inline-gallery--columns-2 .dp-inline-gallery__image,
.dp-inline-gallery--columns-4 .dp-inline-gallery__image {
  float: left;
  width: 50%;
}

.dp-inline-gallery--columns-2 .dp-inline-gallery__image:nth-child(2n+1),
.dp-inline-gallery--columns-4 .dp-inline-gallery__image:nth-child(2n+1) {
  clear: left;
}

@media (min-width: 600px) {

  .dp-inline-gallery--columns-4 .dp-inline-gallery__image {
    width: 25%;
  }

  .dp-inline-gallery--columns-4 .dp-inline-gallery__image:nth-child(2n+1) {
    clear: none;
  }

  .dp-inline-gallery--columns-4 .dp-inline-gallery__image:nth-child(4n+1) {
    clear: left;
  }
}
