/**
 * CSS for Delicious Paragraphs.
 */

/**
 * Images.
 */

.dp-image {
  margin-bottom: 20px;
}

.dp-image img {
  display: block;
}

.dp-image__caption {
  background: #eee;
  font-size: 12px;
  padding: 3px 5px;
  text-align: center;
}

.dp-image--small {
  max-width: 200px;
}

.dp-image--medium {
  max-width: 400px;
}

.dp-image--large {
  max-width: 800px;
}

.dp-image--center {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 600px) {
  
  .dp-image--left.dp-image--small {
    float: left;
    margin-right: 20px;
  }
  
  .dp-image--right.dp-image--small {
    float: right;
    margin-left: 20px;
  }
}

@media (min-width: 992px) {
  
  .dp-image--left.dp-image--medium {
    float: left;
    margin-right: 20px;
  }
  
  .dp-image--right.dp-image--medium {
    float: right;
    margin-left: 20px;
  }
}

/**
 * Video.
 */

.dp-video {
  clear: both;
  margin-bottom: 20px;
}

/**
 * Inline gallery.
 */

.dp-inline-gallery {
  margin: 20px auto 10px auto;
  max-width: 400px;
}

.dp-inline-gallery img {
  margin-left: auto;
  margin-right: auto;
}

.dp-inline-gallery__image {
  float: left;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.dp-inline-gallery--columns-2 .dp-inline-gallery__image,
.dp-inline-gallery--columns-4 .dp-inline-gallery__image {
  float: left;
  width: 50%;
}

.dp-inline-gallery--columns-2 .dp-inline-gallery__image:nth-child(2n+1),
.dp-inline-gallery--columns-4 .dp-inline-gallery__image:nth-child(2n+1) {
  clear: left;
}

.dp-inline-gallery__large-secondary {
  margin: 0 auto;
  max-width: 400px;
}

.dp-inline-gallery__large-secondary .dp-inline-gallery__image {
  width: 50%;
}

.dp-inline-gallery__large-tertiary .dp-inline-gallery__image {
  width: 50%;
}

@media (min-width: 600px) {

  .dp-inline-gallery {
    max-width: none;
    margin-left: -10px;
    margin-right: -10px;
  }

  .dp-inline-gallery--columns-4 .dp-inline-gallery__image {
    width: 25%;
  }

  .dp-inline-gallery--columns-4 .dp-inline-gallery__image:nth-child(2n+1) {
    clear: none;
  }

  .dp-inline-gallery--columns-4 .dp-inline-gallery__image:nth-child(4n+1) {
    clear: left;
  }

  .dp-inline-gallery--large-left .dp-inline-gallery__large-primary,
  .dp-inline-gallery--large-left .dp-inline-gallery__large-secondary {
    float: left;
    width: 50%;
  }

  .dp-inline-gallery--large-right .dp-inline-gallery__large-primary,
  .dp-inline-gallery--large-right .dp-inline-gallery__large-secondary {
    float: right;
    width: 50%;
  }

  .dp-inline-gallery__large-tertiary .dp-inline-gallery__image {
    width: 25%;
  }
}

/**
 * Tables.
 */

.dp-table {
  clear: both;
}

/**
 * Call to action.
 */

.dp-cta {
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 20px 0;
  padding: 20px 10px;
  text-align: center;
}

.dp-cta__heading {
  margin-top: 0;
}

.dp-cta__buttons {
  margin-top: 20px;
}