/**
 * CSS for Margins.
 */

.dp-margins-small {
  margin-bottom: 15px;
  margin-top: 15px;
}

.dp-margins-medium {
  margin-bottom: 30px;
  margin-top: 30px;
}

.dp-margins-large {
  margin-bottom: 45px;
  margin-top: 45px;
}
