/**
 * CSS for Delicious Paragraphs Media Row.
 */

.dp-media-row {
  padding-bottom: 30px;
  padding-top: 30px;
}

.dp-media-row-media--full {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
