/**
 * CSS for Delicious Paragraphs Jumbotron.
 */

.dp-jumbotron {
  background-size: cover;
  background-position: center top;
  min-height: 600px;
}

.dp-jumbotron__content {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.dp-jumbotron__button-link {
  margin-top: 30px;
}

@media (min-width: 768px) {

  .dp-jumbotron {
    min-height: 800px;
  }

  .dp-jumbotron__content {
    max-width: 50%;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }

  .dp-jumbotron__content--left {
    float: left;
  }

  .dp-jumbotron__content--right {
    float: right;
  }

  .dp-jumbotron__content--center {
    margin-left: auto;
    margin-right: auto;
  }
}
